*{
  padding: 0%;
  margin: 0%;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255,255,255,255);
  box-shadow: 0.5px 0px 5px ;
  height: 11vh;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0%;
  justify-content: center;

}


.first-nav{
  width: 30vw;
  display: flex;
  position: relative;
  align-items: center;
  gap: 50px;
  color: rgb(19, 19, 19);
  justify-content: end;
  
  

}
.logo{
  width: 60px;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.golden-text{
  cursor: pointer;
  font-size: 18px;
}

.second-nav{
  align-content: center;
}
.second-nav div{
  justify-self: center;
}
.search{
  border-radius: 16px;
  border: 0.5px solid rgb(190, 190, 190) ;
  height: 3vh;
  width: 16vw;
  outline: none;
  padding-left: 40px;
  padding-right: 20px;
  
}
 .search-button{
  
} 

.third-nav{
  width: 40vw;
  align-content: center;
}
.third-nav ul{
  list-style: none;
  display: flex;
  gap: 50px;
}
.third-nav li{
  cursor: pointer;
}

.flowbite{
  display: none;
}

.main{
  position: relative;
  top: 100px;
  margin-bottom: 0px;
  height: 90%;
  justify-content: center;
}

.preface{
  justify-items: center;
  margin-top: 20px;
}
.text-preface{
  height: 50%;
  width: 30vw;
  justify-self: center;
  padding-top: 30px;
  margin-bottom: 0px;
}

@media ( max-width: 1024px,){

.first-nav{
  width: 35vw;
}
  .golden-text{
    font-size: 15px;
   
  }
  .third-nav{
    display: none;
  }

  .flowbite{
    display: block;
    width: 35px;
    align-self: center;
    margin-right: 30px;
    left: 180px;  
    position: relative;
  }
  .second-nav{
    margin-left: 70px;
  }
  .search{
    height: 2.6vh;
    width: 27vw; 
    position: relative;
    bottom: 12px;
  }
  .search-button{
    position: relative;
    top: 20px;
    left: 5px;
    z-index: 999;
  }
  
}


  



}